body {
    font-family: Arial, Helvetica, sans-serif;
}
table {
    height: 700px;
    width: 100%;
    border-collapse: collapse ;
   
    
}
td, th {
    border: 1px solid black;
    padding: 10px;
}
thead, tfoot {
    background-color: gray;
    color: white;
}

thead > tr > th {
    
    position: sticky; /* grudar */
    top: 0; /* na posição 0 */
    background-color: gray;

}
td.num {
    text-align: right;
}
caption {
 
    font-size: 1.5em;

    font-weight: bold;
   
    padding: 10px;
    
    background-color: lightgray;

}

tbody {
    

}
